.subTitle {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #000;
    font-weight: 700;
    
}
.content {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #000;
    font-weight: 600;
    font-family:'BebasNeue-Regular ';
  
}
