




.logo {
  height: 40px;
  width: 100px;
  display: flex;
  justify-self: flex-start;
  align-self: start;
}







.Row1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  vertical-align: middle;

}

